<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.AdminDAO">
  <select id="getInquiryHistory" resultType="com.dangdiary.api.dto.admin.AdminInquiryHistoryDTO">
    SELECT i.inquiry_id inquiryId, i.user_id userId, u.nickname nickname, i.register_date registerDate, i.type type, i.title title, i.content content, i.progress progress, i.answer answer, i.answer_date answerDate, i.is_like isLike
    FROM inquiries i
        LEFT JOIN users u
            ON i.user_id = u.user_id
  </select>
  <update id="receiveInquiry" parameterType="int">
    UPDATE inquiries
    SET progress = '접수 완료'
    WHERE inquiry_id = #{inquiryId}
  </update>
  <update id="answerInquiry" parameterType="com.dangdiary.api.dto.admin.InquiryAnswerDTO">
    UPDATE inquiries
    SET progress = '답변 완료', answer = #{answer}, answer_date = NOW()
    WHERE inquiry_id = #{inquiryId}
  </update>
</mapper>