<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.AllChallengeDAO">
  <select id="getOverdueDiaryDTO" parameterType="int" resultType="com.dangdiary.api.dto.allChallenge.OverdueDiaryDTO">
    SELECT u.challenge_id, c.title, c.image, u.start_date
    FROM challenges AS c
    INNER JOIN user_challenges AS u
    ON c.challenge_id = u.challenge_id
    WHERE user_id = #{userId} AND u.diary_bool = 0
  </select>
  <select id="getChallengeTempDTO" parameterType="int" resultType="com.dangdiary.api.dto.allChallenge.ChallengeTempDTO">
    SELECT c.challenge_id, c.category, c.title, c.image, u.diary_bool, u.start_date, u.end_date
    FROM challenges AS c
    LEFT JOIN user_challenges AS u
    ON c.challenge_id = u.challenge_id AND u.user_id = #{userId}
  </select>
</mapper>