<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.ChallengeDAO">
<!--  홈 화면에서 바텀 네비게이션 바의 챌린지 버튼(중앙에 있는)을 누르면 올라오는 추천 챌린지를 불러오기 위한 기능  -->
  <select id="getRecommendChallengeDTOs" parameterType="int" resultType="com.dangdiary.api.dto.challenge.RecommendChallengeDTO">
    SELECT c.challenge_id challengeId, c.title title, c.content content, c.image image, r.recommend_date recommendDate, r.recommend_type recommendType
    FROM challenges c
    RIGHT JOIN
    (SELECT challenge_id, recommend_date, recommend_type
    FROM user_challenges
    WHERE user_id = #{userId}
    AND recommend_date IS NOT NULL
    AND start_date IS NULL) r
    ON c.challenge_id = r.challenge_id
    ORDER BY recommend_date
  </select>
<!--  위와 같은 화면의 진행중인 챌린지를 불러옴  -->
  <select id="getInProgressChallengeDTOs" parameterType="int" resultType="com.dangdiary.api.dto.challenge.RecommendChallengeDTO">
    SELECT c.challenge_id challengeId, c.title title, c.content content, c.image image, r.recommend_date recommendDate, r.recommend_type recommendType
    FROM challenges c
    RIGHT JOIN
    (SELECT challenge_id, recommend_date, recommend_type
    FROM user_challenges
    WHERE user_id = #{userId}
    AND start_date IS NOT NULL
    AND end_date IS NULL) r
    ON c.challenge_id = r.challenge_id
    ORDER BY recommend_date
  </select>
<!--  위와 같은 화면의 밀린 일기 챌린지를 불러옴, 진행중인 챌린지 리스트에 포함  -->
  <select id="getOverdueChallengeDTOs" parameterType="int" resultType="com.dangdiary.api.dto.challenge.RecommendChallengeDTO">
    SELECT c.challenge_id challengeId, c.title title, c.content content, c.image image, r.recommend_date recommendDate, r.recommend_type recommendType
    FROM challenges c
    RIGHT JOIN
    (SELECT challenge_id, recommend_date, recommend_type
    FROM user_challenges
    WHERE diary_Id IN
    (SELECT diary_id
    FROM diaries
    WHERE user_id = #{userId}
    AND register_date IS NULL)
    ) r
    ON c.challenge_id = r.challenge_id
    ORDER BY recommend_date
  </select>
</mapper>