<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.CompleteChallengeDAO">
  <update id="updateEndDate" parameterType="int" >
    UPDATE user_challenges
    SET end_date = NOW()
    WHERE user_id = #{userId} and challenge_id = #{challengeId}
  </update>
  <select id="getUserChallenge" parameterType="int" resultType="com.dangdiary.api.dto.doChallenge.UserChallengeDTO">
    SELECT * FROM user_challenges WHERE user_id = #{userId} ORDER BY start_date DESC LIMIT 1
  </select>
</mapper>