<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  고객센터 화면  -->
<mapper namespace="com.dangdiary.api.dao.CustomerCenterDAO">
<!--  공지사항을 모두 불러옴  -->
  <select id="getNoticeDTOs" resultType="com.dangdiary.api.dto.customerCenter.NoticeDTO">
    SELECT notice_id noticeId, title title, content content, register_date registerDate
    FROM notices
    ORDER BY register_date DESC
  </select>
<!--  FAQ를 모두 불러옴  -->
  <select id="getFAQDTOs" resultType="com.dangdiary.api.dto.customerCenter.FAQDTO">
    SELECT FAQ_id FAQId, question, answer FROM FAQs;
  </select>

<!--  공지사항 등록하기  -->
  <insert id="postNotice" parameterType="String">
    INSERT INTO notices(title, content, register_date)
    VALUES
    (#{title}, #{content}, NOW())
  </insert>
<!--  등록한 공지사항을 확인하기 위함  -->
  <select id="getNotice" resultType="com.dangdiary.api.dto.customerCenter.NoticeDTO">
    SELECT notice_id noticeId, title title, content content, register_date registerDate
    FROM notices
    ORDER BY notice_id DESC
    LIMIT 1
  </select>

  <insert id="inquiry" parameterType="com.dangdiary.api.dto.customerCenter.InquiryDTO">
    INSERT INTO inquiries(user_id, register_date, type, title, content, progress)
    VALUES
      (#{userId}, NOW(), #{type}, #{title}, #{content}, '접수 완료')
  </insert>

  <select id="getInquiryHistoryDTOList" parameterType="int" resultType="com.dangdiary.api.dto.customerCenter.InquiryHistoryDTO">
    SELECT inquiry_id inquiryId, register_date registerDate, type type, title title, content content, progress progress, answer answer, answer_date answerDate, is_like isLike
    FROM inquiries
    WHERE user_id = #{userId}
    ORDER BY registerDate;
  </select>
</mapper>