<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.MyDiaryDAO">
  <select id="getMyDiaryDTO" parameterType="int" resultType="com.dangdiary.api.dto.myDiary.MyDiaryDTO">
    SELECT dog_name dogName, profile_image profileImage
    FROM dogs
    WHERE user_id = #{userId}
    LIMIT 1;
  </select>
  <select id="getBirth" parameterType="int" resultType="String">
    SELECT birth birth
    FROM dogs
    WHERE user_id = #{userId}
    LIMIT 1;
  </select>
  <select id="getNumberOfDiary" parameterType="int" resultType="int">
    SELECT count(*)
    FROM diaries
    WHERE user_id = #{userId}
    AND register_date IS NOT NULL
  </select>
  <select id="getNumberOfOverdueDiary" parameterType="int" resultType="int">
    SELECT count(*)
    FROM diaries
    WHERE user_id = #{userId}
    AND register_date IS NULL
  </select>
  <select id="getMyDiaryEachDTO" parameterType="int" resultType="com.dangdiary.api.dto.myDiary.MyDiaryEachDTO">
    SELECT j.diaryId diaryId, j.registerDate registerDate, j.challengeTitle challengeTitle, i.image image
    FROM
    (SELECT d.diary_id diaryId, d.register_date registerDate, c.title challengeTitle
    FROM diaries d
    LEFT JOIN challenges c
    ON d.challenge_id = c.challenge_id
    WHERE d.user_id = #{userId}) j
    LEFT JOIN diary_images i
    ON j.diaryId = i.diary_id
    WHERE i.image_index = 0
    ORDER BY j.registerDate
  </select>
  <select id="getNumberOfLikeAndIsLike" parameterType="int" resultType="int">
    SELECT count(*)
    FROM likes
    WHERE diary_id = #{diaryId}
    UNION ALL
    SELECT EXISTS
    (SELECT *
    FROM likes
    WHERE diary_id = #{diaryId}
    AND user_id = #{userId} LIMIT 1)
  </select>
  <select id="getMyDiaryByCoverDTO" parameterType="int" resultType="com.dangdiary.api.dto.myDiary.CoverDTO">
    SELECT cover_id coverId, diary_yyyymm yyyymm, cover_title coverTitle, cover_color coverColor, holder_color holderColor
    FROM diary_covers
    WHERE user_id = #{userId}
  </select>

  <select id="getCoverDTO" parameterType="int" resultType="com.dangdiary.api.dto.myDiary.CoverDTO">
    SELECT cover_id coverId, diary_yyyymm yyyymm, cover_title coverTitle, cover_color coverColor, holder_color holderColor
    FROM diary_covers
    WHERE cover_id = #{coverId}
  </select>
  <select id="getDiaries" parameterType="int" resultType="com.dangdiary.api.dto.myDiary.DiaryDTO">
    SELECT d.diary_id diaryId, d.title title, d.register_date registerDate, d.weather weather, d.feeling feeling, d.content content, c.sticker_image stickerImage, c.sticker_shape stickerShape
    FROM diaries d
    LEFT JOIN challenges c
    ON d.challenge_id = c.challenge_id
    WHERE d.user_id = #{userId}
  </select>
  <select id="getIsPublicAndNumberOfLikeAndIsLike" parameterType="int" resultType="int">
    SELECT is_public isPublic
    FROM diaries
    WHERE diary_id = #{diaryId}
    UNION ALL
    SELECT count(*)
    FROM likes
    WHERE diary_id = #{diaryId}
    UNION ALL
    SELECT EXISTS
    (SELECT *
    FROM likes
    WHERE diary_id = #{diaryId}
    AND user_id = #{userId} LIMIT 1)
  </select>
  <select id="getDiaryImages" parameterType="int" resultType="String">
    SELECT image images
    FROM diary_images
    WHERE diary_id = #{diaryId}
    ORDER BY image_index
  </select>
  <select id="getDiaryTags" parameterType="int" resultType="String">
    SELECT hash_tag tags
    FROM tags
    WHERE diary_id = #{diaryId}
    ORDER BY tag_index
  </select>
</mapper>