<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.MypageDAO">
  <select id="getMypageDTO" parameterType="int" resultType="com.dangdiary.api.dto.mypage.MypageDTO">
    SELECT u.nickname, u.login_type loginType, d.dog_name dogName, d.profile_image profileImage, d.breed breed, floor((TO_DAYS(NOW()) - (TO_DAYS(d.birth))) / 365) age, d.gender gender, d.birth birth
    FROM users u
    LEFT JOIN dogs d
    ON u.user_id = d.user_id
    WHERE u.user_id = #{userId}
  </select>
</mapper>