<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  사용 화면: 둘러보기, 검색하기, 검색 결과  -->
<mapper namespace="com.dangdiary.api.dao.ReportDAO">
  <insert id="report" parameterType="com.dangdiary.api.dto.report.ReportRequest">
    INSERT INTO report(user_id, diary_id, status,reason,create_date)
    VALUES
      (#{userId}, #{diaryId}, #{status},#{reason},now())
  </insert>

  <delete id="deleteReport" parameterType="int">
    DELETE FROM report WHERE id = #{reportId}
  </delete>

  <update id="updateReport" parameterType="com.dangdiary.api.dto.report.ReportRequest">
    UPDATE report
    SET status = #{status}, reason = #{reason}
    WHERE id = #{reportId}
  </update>
  <select id="getReportHistory" parameterType="int" resultType="com.dangdiary.api.dto.report.ReportHistoryDTO">
    SELECT r.id reportId, r.user_id userId, r.diary_id diaryId, r.status status, CONCAT(d.title, ' 일기를 신고했어요.') AS title, r.reason reason, r.answer answer, r.create_date createDate, r.modify_date modifyDate
    FROM report r
        LEFT JOIN diaries d
            ON r.diary_id = d.diary_id
    WHERE r.user_id = #{userId}
    ORDER BY r.create_date;
  </select>
</mapper>