<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.BrowseDAO">
  <select id="getImageDTOs" resultType="com.dangdiary.api.dto.browse.ImageDTO">
    SELECT diary_id diaryId, image1
    FROM diarys
  </select>
  <select id="getImageDTOsByKeyword" parameterType="String" resultType="com.dangdiary.api.dto.browse.ImageDTO">
    SELECT diary_id diaryId, image1 image1
    FROM diarys 
    WHERE diary_id IN
    (SELECT diary_id
    FROM
    (SELECT diary.diary_id, challenge.title, dog.breed, user.name
    FROM diarys diary
    LEFT JOIN challenges challenge
    ON diary.challenge_id = challenge.challenge_id
    LEFT JOIN dogs dog
    ON diary.user_id = dog.user_id
    LEFT JOIN users user
    ON diary.user_id = user.user_id) j
    WHERE title LIKE '%${keyword}%' OR breed LIKE '%${keyword}%' OR name LIKE '%${keyword}%')
  </select>
</mapper>