<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.StickerDAO">
  <select id="getNumberOfTotalSticker" resultType="int">
    SELECT count(*)
    FROM challenges
  </select>
  <select id="getProfileImage" parameterType="int" resultType="String">
    SELECT profile_image profileImage
    FROM dogs
    WHERE user_id = #{userId}
    LIMIT 1
  </select>
  <select id="getNumberOfDiary" parameterType="int" resultType="int">
    SELECT count(*)
    FROM diaries
    WHERE user_id = #{userId}
    AND register_date IS NOT NULL
  </select>
  <select id="getNumberOfOverdueDiary" parameterType="int" resultType="int">
    SELECT count(*)
    FROM diaries
    WHERE user_id = #{userId}
    AND register_date IS NULL
  </select>
  <select id="getMyStickerDTO" parameterType="int" resultType="com.dangdiary.api.dto.sticker.MyStickerDTO">
    SELECT d.challengeId challengeId, c.sticker_image stickerImage, c.sticker_shape stickerShape, c.title challengeTitle, d.recentGetDate
    FROM
    (SELECT challenge_id challengeId, MAX(register_date) recentGetDate
    FROM diaries
    WHERE user_id = #{userId} AND register_date IS NOT NULL
    GROUP BY challenge_id) d
    LEFT JOIN challenges c
    ON d.challengeId = c.challenge_id
  </select>
  <select id="getLockedStickerDTO" parameterType="int" resultType="com.dangdiary.api.dto.sticker.LockedStickerDTO">
    SELECT challenge_id challengeId, sticker_image stickerImage, sticker_shape stickerShape
    FROM challenges
    WHERE challenge_id NOT IN
    (SELECT DISTINCT challenge_id
    FROM diaries
    WHERE user_id = #{userId} AND register_date IS NOT NULL)
  </select>
</mapper>