<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.StickerDAO">
  <select id="getTotalStickers" parameterType="int" resultType="int">
    SELECT count(challenge_id) totalStickers from challenges
  </select>
  <select id="getDogImage" parameterType="int" resultType="String">
    SELECT profile_image dogImage from dogs where user_id=#{userId}
  </select>
  <select id="getMyStickers" parameterType="int" resultType="int">
    SELECT count(user_challenge_id) myStickers from user_challenges where user_id=#{userId}
  </select>
  <select id="getTotalDiary" parameterType="int" resultType="int">
    SELECT count(diary_id) totalDiary from diarys where user_id=#{userId}
  </select>
  <select id="getOverdueDiary" parameterType="int" resultType="int">
    SELECT count(user_challenge_id) from user_challenges where end_date IS NOT null and diary_bool=0 and user_id=#{userId}
  </select>

  <select id="getMyStickerUserDTO" parameterType="int" resultType="com.dangdiary.api.dto.sticker.MyStickerUserDTO">
    SELECT user_challenge_id userChallengeId, challenge_id challengeId FROM user_challenges WHERE user_id = #{userId}
  </select>
  <select id="getStickerDTOs" parameterType="int" resultType="com.dangdiary.api.dto.sticker.MyStickerDTO">
    SELECT challenges.challenge_id challengeId, challenges.title, diarys.register_date, challenges.sticker_image FROM challenges, diarys WHERE diarys.user_id = #{userId} and diarys.challenge_id = challenges.challenge_id and diarys.challenge_id=#{challengeId} order by diarys.register_date limit 1;  </select>
</mapper>