<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.WriteDiaryDAO">
  <insert id="postWriteDiary" parameterType="com.dangdiary.api.dto.writeDiary.WriteDiaryDTO">
    INSERT INTO diaries
    (user_id, challenge_id, register_date, title, weather, feeling, content, is_public)
    VALUES
    (#{userId}, #{challengeId}, NOW(), #{title}, #{weather}, #{feeling}, #{content}, #{isPublic})
  </insert>
  <insert id="postOverdueWriteDiary" parameterType="com.dangdiary.api.dto.writeDiary.WriteDiaryDTO">
    INSERT INTO diaries
    (user_id, challenge_id, title, weather, feeling, content, is_public)
    VALUES
    (#{userId}, #{challengeId}, #{title}, #{weather}, #{feeling}, #{content}, #{isPublic})
  </insert>
  <select id="getDiaryId" parameterType="int" resultType="int">
    SELECT diary_id FROM diaries WHERE user_id = #{userId} and challenge_id = #{challengeId} ORDER BY diary_id DESC LIMIT 1
  </select>
  <update id="updateUserChallenge" parameterType="com.dangdiary.api.dto.writeDiary.UpdateUserChallengeDTO">
    UPDATE user_challenges
    SET end_date = #{endDate}, diary_id = #{diaryId}
    WHERE user_id = #{userId} and challenge_id = #{challengeId} and diary_id IS NULL
  </update>
  <insert id="postImage" parameterType="com.dangdiary.api.dto.writeDiary.ImageOrTagDTO">
    INSERT INTO diary_images
    (diary_id, image_index, image)
    VALUES
    (#{diaryId}, #{index}, #{imageOrTag})
  </insert>
  <insert id="postTag" parameterType="com.dangdiary.api.dto.writeDiary.ImageOrTagDTO">
    INSERT INTO tags
    (diary_id, tag_index, hash_tag)
    VALUES
    (#{diaryId}, #{index}, #{imageOrTag})
  </insert>
  <select id="getDiary" parameterType="int" resultType="com.dangdiary.api.dto.writeDiary.DiaryResponseDTO">
    SELECT d.diary_id diaryId, d.user_id userId, d.challenge_id challengeId, d.title title, u.end_date endDate, d.weather weather, d.feeling feeling, d.content content, d.hit hit, d.is_public isPublic
    FROM diaries d
    LEFT JOIN user_challenges u
    ON d.diary_id = u.diary_id
    WHERE d.diary_id = #{diary_id}
  </select>
  <select id="getImages" parameterType="int" resultType="String">
    SELECT image FROM diary_images WHERE diary_id = #{diaryId} ORDER BY image_index
  </select>
  <select id="getTags" parameterType="int" resultType="String">
    SELECT hash_tag FROM tags WHERE diary_id = #{diaryId} ORDER BY tag_index
  </select>
  <select id="getIsExistCover" parameterType="int" resultType="int">
    SELECT EXISTS
    (SELECT *
    FROM diary_covers
    WHERE user_id = #{userId}
    AND diary_yyyymm = #{yyyymm}
    LIMIT 1)
  </select>
  <select id="insertCover" parameterType="int">
    INSERT INTO diary_covers
    (user_id, diary_yyyymm)
    VALUES
    (#{userId}, #{yyyymm})
  </select>
</mapper>