<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangdiary.api.dao.WriteDiaryDAO">
  <insert id="postWriteDiary" parameterType="com.dangdiary.api.dto.writeDiary.WriteDiaryDTO">
    UPDATE diaries
    SET user_id = #{userId}, challenge_id = #{challengeId}, register_date = NOW(), title = #{title}, weather = #{weather}, feeling = #{feeling}, content = #{content}, is_public = #{isPublic}
    WHERE diary_id = #{diaryId}
  </insert>
  <update id="updateEndDate" parameterType="com.dangdiary.api.dto.writeDiary.WriteDiaryDTO">
    UPDATE user_challenges
    SET end_date = #{endDate}
    WHERE diary_id = #{diaryId}
  </update>
  <delete id="deleteImage" parameterType="int">
    DELETE FROM diary_images
    WHERE diary_id = #{diaryId}
  </delete>
  <delete id="deleteTag" parameterType="int">
    DELETE FROM tags
    WHERE diary_id = #{diaryId}
  </delete>
  <insert id="postImage" parameterType="com.dangdiary.api.dto.writeDiary.ImageOrTagDTO">
    INSERT INTO diary_images
    (diary_id, image_index, image)
    VALUES
    (#{diaryId}, #{index}, #{imageOrTag})
  </insert>
  <insert id="postTag" parameterType="com.dangdiary.api.dto.writeDiary.ImageOrTagDTO">
    INSERT INTO tags
    (diary_id, tag_index, hash_tag)
    VALUES
    (#{diaryId}, #{index}, #{imageOrTag})
  </insert>
  <select id="getDiary" parameterType="int" resultType="com.dangdiary.api.dto.writeDiary.WriteDiaryResponseDTO">
    SELECT d.diary_id diaryId, d.user_id userId, d.challenge_id challengeId, d.title title, u.end_date endDate, d.weather weather, d.feeling feeling, d.content content, d.hit hit, d.is_public isPublic
    FROM diaries d
    LEFT JOIN user_challenges u
    ON d.diary_id = u.diary_id
    WHERE d.diary_id = #{diary_id}
  </select>
  <select id="getImages" parameterType="int" resultType="String">
    SELECT image FROM diary_images WHERE diary_id = #{diaryId} ORDER BY image_index
  </select>
  <select id="getTags" parameterType="int" resultType="String">
    SELECT hash_tag FROM tags WHERE diary_id = #{diaryId} ORDER BY tag_index
  </select>
  <select id="getIsExistCover" parameterType="int" resultType="int">
    SELECT EXISTS
    (SELECT *
    FROM diary_covers
    WHERE user_id = #{userId}
    AND diary_yyyymm = #{yyyymm}
    LIMIT 1)
  </select>
  <select id="insertCover" parameterType="int">
    INSERT INTO diary_covers
    (user_id, diary_yyyymm)
    VALUES
    (#{userId}, #{yyyymm})
  </select>
  <select id="getDogName" parameterType="int" resultType="String">
    SELECT dog_name dogName
    FROM dogs
    WHERE user_id = #{userId}
    LIMIT 1
  </select>
  <select id="getStickerDTO" parameterType="int" resultType="com.dangdiary.api.dto.writeDiary.StickerDTO">
    SELECT sticker_image stickerImage, sticker_shape stickerShape
    FROM challenges
    WHERE challenge_id = #{challengeId}
    LIMIT 1
  </select>
</mapper>